        header, main, footer {
        padding-left:250px;
        }

        @media only screen and (max-width : 992px) {
            header, main, footer {
            padding-left: 0;
            }
        }

        /*REAL TIME INPUT VALIDATION*/
        .error{
            display: none;
            margin-left: 10px;
        }       

        .error_show{
            color: red;
            margin-left: 10px;
        }

        input.invalid, textarea.invalid{
            border: 2px solid red;
        }

        input.valid, textarea.valid{
            border: 2px solid yellow;
        }
        /*END REAL TIME INPUT VALIDATION STYLE*/
    
        *{
            font-family: 'Century Gothic';

        }

        header{
            background-color: #CFD8DC;
            opacity: 0.95;
            width: 100%;
            height: 50px;
        } 

        #slide-out{
            margin-top: 60px;
            background: transparent;
        }

        #slide-out:hover{
            background: transparent;
        }

        #slide-out:active{
            background: transparent;
        }

        img{
            height: 70px;
            width: 70px;

        }

        body{
            font-family: 'Century Gothic';
            background-image: url("../img/hehehe.jpg");
            background-color: #3D5AFE;
        }

        h4{
            color: black;
            font-weight: bold;
            margin-left: 20px;
        }

        .hue{
            width: col s12; 
            height: auto;
        }

        .tab{
            background: #1a237e;
            border: gray;
            border-radius: 4px;
        }   

        .tab:hover{
            color: #1a237e;
        }

        .admin-background{
            background: #00695C;
            color: #1a237e;
            height: 125px;
        }

        .user{
            background: #00695C;
        }

        #admin{
            background: #00695C;
        }

        #admin :hover{
           background: #00695C;
        }

        .small.material-icons{
            color: #1a237e;
        }

        #ul{
            list-style-type: none;
            background: #00695C;
        }

        #ul :hover{
            background: #00897B;
        }

        #ul :visited{
           background: #00897B;
           opacity: 0.70;
        }

        #ul :active{
            background: #26A69A;
            opacity: 0.70;

        }

        #ul li{
            background: #26A69A;
        }

        #ul li li{
            background: #26A69A;
        }


        #slide-out > li ul li :active{
            background: #26A69A;
        }

        #slide-out > li ul li :visited{
            background: #26A69A;
        }
        
        #slide-out > li ul li :hover{
            background: #26A69A;        
        }

        .modal{
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            left: 0;
            top: 0;
            overflow: auto; /* Enable scroll if needed */
        }

        .overflow-x {
        overflow-x: auto;
        }

        .side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active {
        background: transparent;
        
        }


