        header, main, footer {
      	padding-left: 240px;
    	}

    	@media only screen and (max-width : 992px) {
      		header, main, footer {
        	padding-left: 0;
      		}
    	}
    

        header{
            background: teal;
            width: 100%;
            height: 60px;
        } 

        #slide-out{
            margin-top: 60px;
            background: white;
        }

        #slide-out:hover{
            background: white;
        }

        #slide-out:active{
            background: white;
        }
    	body{
            font-family: 'Century Gothic';
    	}

        h4{
            color: teal;
            margin-left: 20px;
        }

        .hue{
            width: col s12; 
            height: 340px;
        }


        #slide-out > li :hover{
            background: white;

        }

        #slide-out > li :visited{
            background: white;
        }

        #slide-out > li :active{
            background: white;
        }

        #slide-out > li ul li :active{
            background: white;
        }

        #slide-out > li ul li :visited{
            background: white;
        }
        
        #slide-out > li ul li :hover{
            background: white;
        }
