        header, main, footer {
      	padding-left: 250px;
    	}

    	@media only screen and (max-width : 992px) {
      		header, main, footer {
        	padding-left: 0;
      		}
    	}
    
        *{
            font-family: 'Century Gothic';
        }

        header{
            background: teal;
            width: 100%;
            height: 60px;
        } 

        #slide-out{
            margin-top: 60px;
            background: white;
        }

        #slide-out:hover{
            background: white;
        }

        #slide-out:active{
            background: white;
        }

    	body{
            font-family: 'Century Gothic';
    	}

        h4{
            color: teal;
            margin-left: 20px;
        }

        .hue{
            width: col s12; 
            height: auto;
        }

        .tab{
            background: teal;
            border: teal;
        }

        .tab:hover{
            color: teal;
        }

        .admin-background{
            background-image:("admin-background.jpg");
            color: teal;
            font-style: bold;
            height: 100px;
        }

        .user{
            color:teal;
        }

        #admin{
            background: url("admin-background.jpg");
        }

        #admin :hover{
            background: url("admin-background.jpg");
        }

        .small.material-icons{
            color: teal;
        }

        #ul{
            list-style-type: none;
            background: white;
        }

        #ul :hover{
            background: white;
        }

        #ul :visited{
            background: white;
        }

        #ul :active{
            background: white;
        }

        #slide-out > li ul li :active{
            background: white;
        }

        #slide-out > li ul li :visited{
            background: white;
        }
        
        #slide-out > li ul li :hover{
            background: white;
        }

        .modal{
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            left: 0;
            top: 0;
            overflow: auto; /* Enable scroll if needed */
        }

        .overflow-x {
        overflow-x: auto;
        }

        .side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active {
        background-color: transparent;
        
        }

       


